{% extends "admin/base.html" %}
{% load static baton_tags %}
{% load i18n %}

{% block title %}{% if subtitle %}{{ subtitle }} | {% endif %}{{ title }} | {{ site_title|default:_('Django site admin')
}}{% endblock %}

{% block extrahead %}
<meta content="width=device-width, initial-scale=1.0" name="viewport" />
<script src="{% static 'baton/app/dist/baton.min.js' %}"></script>
<style>
    .vLargeTextField {
        display: block !important;
        width: 100% !important;
        padding: .375rem .75rem !important;
        font-size: 1rem !important;
        font-weight: 400 !important;
        line-height: 1.5 !important;
        color: #212529 !important;
        height: 100px !important;
    }

    .required {
        text-align: left !important;
        display: block ruby !important;
    }

    .form-row:not(.field-Informes,
        .form-row .checkbox-row,
        .selector,
        .field-permissions,
        .field-groups,
        .field-user_permissions) div {
        display: flex !important;
        align-items: center !important;
    }

    .form-row .checkbox-row .vCheckboxLabel {
        font-style: oblique;
        font-weight: bold;
    }
</style>
<!-- <script src="http://localhost:8080/static/baton/app/dist/baton.min.js"></script> -->
{% baton_config as conf %}
{{ conf | json_script:"baton-config" }}
<script>
    (function ($, undefined) {
        $(document).ready(function () {
            Baton.init(JSON.parse(document.getElementById('baton-config').textContent));
        })
    })(jQuery, undefined)
</script>
{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}
{% footer %}
{% endblock %}